@model AirlineSystem.Payment

<div calss="container">
    <h3>Are you sure You want to delete this card</h3>
    <div>
        @Html.DisplayFor(x => x.CardId)
    </div>
</div>

@using (Html.BeginForm())
{
    <button type="submit" class="btn btn-success">Yes</button>
    <a class="btn btn-danger" href="/Payment">No</a>
}
